* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Righteous", cursive;
}

#video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 30%;
	z-index: -1;
}

.emoji {
	font-size: calc(5px + 4vw);
	min-width: 1.4em;
	margin: 0.3em 0.4em;
	text-align: center;
}

.emoji::after {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.hearts::after {
	content: "💗";
	animation-name: hearts;
	animation-duration: 3s;
}

@keyframes hearts {
	16.666% {
		content: "🧡";
	}

	33.333% {
		content: "💛";
	}

	50% {
		content: "💚";
	}

	66.666% {
		content: "💙";
	}

	83.333% {
		content: "💜";
	}
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10rem auto;
	font-size: 3rem;
	text-align: center;
}

#start-btn {
	margin: 5rem;
	height: 10rem;
	width: 30rem;
	font-size: 5rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.5rem 1rem 0.2rem black;
}

/* button ID's */
#computer-btn {
	display: none;
	margin: 5rem;
	height: 10rem;
	width: 30rem;
	font-size: 4rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.5rem 1rem 0.2rem black;
}

#human-btn {
	display: none;
	margin: 5rem;
	height: 10rem;
	width: 30rem;
	font-size: 4rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.5rem 1rem 0.2rem black;
}

#level-1-btn {
	display: none;
	margin: 5rem;
	height: 10rem;
	width: 30rem;
	font-size: 4rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.5rem 1rem 0.2rem black;
}

#level-2-btn {
	display: none;
	margin: 5rem;
	height: 10rem;
	width: 30rem;
	font-size: 4rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.5rem 1rem 0.2rem black;
}

#mode-choice-header {
	display: none;
}

#level-choice-header {
	display: none;
}
